/* Estilos para el cuerpo de la página */
body, html{
    margin: 0;
    align-items: center;
    justify-content: center;
    background-color: #f5f6f7;
    color: #333 !important;
    /* background-color: #647484; */
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}



.bgc-blueDay{
    background-color: #6583a0a4;
    color: #333;
}

.bgc-blueNight{
    background-color: #333 !important;
    color: #cfd7df;
}




  
/* Estilos para el encabezado */
header {
    background-color: #75060e;
    color: whitesmoke;
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 36px;
}
  
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    min-width: 360px;
    max-width: 1200px;
}
  
.logo {
    font-size: 1.2rem;
    font-weight: bold;
}
  
.name {
    font-size: 1.2rem;
}
  
.login-btn {
    background-color: whitesmoke;
    color: #75060e;
    border: none;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
}
  


/* Estilos para el contenido principal */
.contenido{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 39px;
}

main {
    width: 90%;
    min-width: 360px;
    max-width: 1200px;
    margin-top: 60px;
    margin-bottom: 3vh;
}
  

/* Estilos para el jumborton*/
.jumbotron {
    margin-top: 3vh;
    margin-bottom: 3vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 450px;
    border-radius: 39px !important;
}

.welcomeGC {
    width: 50%;
    min-width: 360px;
    height: 450px;
    text-align: center;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 1%;
    padding-left: 1%;
}

.welcomeGC h1{
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0;
}

.welcomeGC h2{
    font-size: 2.1rem;
    margin-top: 0;
    margin-bottom: 0.3rem;
}
  
.know-btn {
    background-color: whitesmoke;
    height: 51px;
    width: 300px;
    border: none;
    border-radius: 6px;
    padding: 1rem 2rem;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    align-items: end;
}
  
.know-btn:hover {
    background-color: #75060e;
    color: whitesmoke;
}
  
.imgGC {
    width: 45%;
    height: 450px;
    min-width: 360px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
  
.imgGC img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}









/* Estilos para el equipo C5*/
.c5Team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5vh;
    margin-bottom: 3vh;
    border-radius: 39px !important;
    background-color: #fff;
}
  
.team-header {
    width: 100%;
    text-align: center;
    font-size: 3rem;
}
  
.team-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
/* Estilos de la directora */
.directoraC5 {
    width: 39%;
    min-width: 360px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
  
.directoraC5 h1 {
    font-size: 2.1rem;
    margin-bottom: 3vh;
}
  
.directoraC5 img {
    width: 12vh;
    height: 12vh;
    border-radius: 50%;
}
  
.directoraC5 h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1vh;
}
  
.directoraC5 p {
    line-height: 1.5;
    margin-bottom: 2vh;
    text-align: justify;
}
  
/* Estilos del carrusel de tarjetas */
.equipoCarousel{
    width: 55%;
}

.equipoC5Trabajo{
    width: 100%;
    font-size: 2.1rem;
    text-align: center;
}

.card-carousel {
    width: 100%;
    min-width: 360px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-y: hidden;
    overflow-x: scroll;
}
  
.card {
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.6);
    width: 360px;
    padding: 3vh;
    border-radius: 10px;
    margin: 2.1vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
  
.card img {
    width: 12vh;
    height: 12vh;
    border-radius: 50%;
}

.contact-btn {
    background-color: whitesmoke;
    height: 51px;
    border: none;
    border-radius: 6px;
    padding: 1rem 2rem;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    align-items: end;
}
  
.contact-btn:hover {
    background-color: #75060e;
    color: whitesmoke;
}







/* Estilos del footer */
footer {
    background-color: #75060e;
    color: whitesmoke;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 39px;
}

footer section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    min-width: 360px;
    max-width: 1200px;
}

.credit {
  font-size: 0.9rem;
  text-align: center;
  width: 100%;
  padding-top: 1vh;
}

.dark-mode-btn {
  background-color: #ccc;
  color: #75060e;
  border: none;
  padding: 0.5rem 0.6rem;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
}

.dark-mode-btn:hover {
  background-color: #333;
  color: whitesmoke;
  font-weight: bold;
}






@media (max-width: 1200px) {
    .directoraC5 {
        width: 100%;
        min-width: 360px;
    }

    .equipoCarousel{
        width: 100%;
    }
}



@media (max-width: 900px) {
    .jumbotron {
      flex-direction: column-reverse;
      height: auto;
      align-items: center;
    }
  
    .welcomeGC {
      width: 90%;
      height: auto;
      text-align: center;
      text-align: center;
    }
  
    .imgGC {
      width: 100%;
      height: 450px;
    }
    
  
    .know-btn {
      width: 100%;
      max-width: 300px;
    }
}
